<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <span
          *ngFor="let number of numbers">
          <li *appUnless="(number % 2 === 1 && !onlyOdd) || (number % 2 === 0 && onlyOdd)"
          class="list-group-item">
          {{ number }}
          </li>
        </span>
      </ul>
      <p appBasicHighlight>Pickle Rick</p>
      <p [appBetterHighlight]="{default: 'transparent', highlight: 'blue'}">Pickle Rick</p>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
    </div>
  </div>
</div>
